language: node_js
node_js: stable
sudo: required
before_script:
- npm install -g polymer-cli
- polymer install --variants
addons:
  firefox: latest
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
  sauce_connect: true
script:
- polymer lint arc-info-messages.html arc-info-message.html
- xvfb-run polymer test --plugin local
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then polymer test --plugin sauce --job-name
  "arc-info-messages:${TRAVIS_BRANCH}" --build-number=${TRAVIS_BUILD_NUMBER}; fi
cache:
  directories:
  - node_modules
after_success:
- node tasks/ci.js
env:
  global:
  - secure: n9ddGqvqwhhMTtOoVzxiSYehHd1QTNkiKbQc2Kv+eXfPAwR+y41L2SJw+jB+9jYPztpqsBKHFzcLjo26my1iSlBKgS8H+8LY+Ha5c8vZc0KdYL4MbpGFLsm3PbAydwF64Jb04TaDJjSXPFhHSbph1TJQ2T5RKSQNDZjFQmwcbwZdqrawz/o+6J530hR4XKRFi9lwSRPhHIha97eAzOSn+6gHyDDdZRWfCJbgSp1+BzFteuRnZecsm4lqf8V3yBVn8RXObXpynUZXjqprE+RQ6AzM8B9+JGI+ncYzatXly1I2rKrfJfnDZSKLuQhfRPhxBZj1XFWgZitxplFKLMeCzqFyZu91685/BDVMLSGB+H69KVGCX2RKVUDZK1vUAXolOTLd0MSJIhlfMoDIOUNQTkGeHFjyMVCdE+t+qVKqXT/mCOeOY4M5gKyN17JmXJYtuQr03wEqnrB5EXiAOVadkE9oqkL3MaIHfH4cVuYGP5uwO85z1eVm044yFunSNtWQgJY8Hgjoq7srsfS2uv/c0+WPGmGB1Ng9MFmAwdp586SCgY2fMZTxJY0zPyYNp4Vhfm5w2quFSobnkIs5OVX4jTaIBfBCELqRfj+MC0emrnuHID7P/zeH1rE5f5jY1ciIKsn6bQJy0C3typXy100ZALKWwOiUEiWtZbA6OuSrciI=
  - secure: EukbnRyWaCep4/KMACIm5hJKFZIyf6ORHUjBvmHO7jsupo2TuGkoMqBZSRrhGOPTip1oXkrMpr7vRGI+QJG/wIL+PNzxXZdNg3R+SnxHitNcM/hLBLv1zgqmIRRzBgjMLcnVTeL8ASvW12j6ZzQsveu2bPdCdTNABCArlG+83E+lAdA/a42HV9Qp13UOpcgL9mvN1OjPVV5oZGH4jc13tXgeTCZTAMC3GuXBDgiCz+beQupy6/FNXSnT1fdiGjznIRqvhJ7sbyyb+xDGF1h7hUoHOrrB+mi3rXv1f+X5j78pdf+pCKIHq1gbrwSQ/e4X79bQyPb0qmwlkIWxjQucTFVtS2aATRo70Qi7FCbTvUf4k30HWhfhz8oj+ymhIS53PQjStYPi24CtgXOiKiAeCE0bArGhJWTgaeCIM4akb+i6Vd5lWI1+H45eMm2tpgGrhlFD6X8eImJBzTuFRd4wNoXmXLeXn33nJnRYBs92QRmWB6wMV2k5zTdK+LXkbEJeo3F2LRcGun2V9p/cf8GGRcXgGGHy/+39af7+utKbK/b4PBDY+wUOB2Vmz4wKZyFZ+UCXzQsOGgSNbWKT19t6lmbGTj891Y7Dfb9SeCoroaGYmeANIfDChoyuGhbU70EbdOnObRmtdIGHv2GzundEEZXXNE6AM/BzF4PIjg8Rj0Q=
